@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.topnav {
  position: absolute;
  background-color: #1c96db;
  grid-area: 1 / 1 / 1 / 1;
  top: 0;
  width: 100%;
  height: 7%;
  left: 0;
  display: grid;
  margin: 0;
  grid-template-columns: 10% auto auto auto 10%;
}

.navbar {
  display: inline-grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  font-family: Poppins;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  color: #ffffff;
  font-weight: 500;
}

.Main {
  font-size: calc(10px + 1vmin);
  font-family: Poppins;
  grid-area: 2 / 1 / 2 / 1;
  display: grid;
  text-align: left;
  justify-content: center;
  grid-row: 2;
  grid-column: 1;
  margin: 0;
}

.Content {
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
  text-align: "justify";
}

.MobileNavItem {
  display: inline-grid;
  size: 16px;
  align-self: center;
  justify-content: center;
  text-decoration: "none";
  color: #ffffff;
}

.Footer {
  border-style: solid hidden hidden hidden;
  border-top-color: #1c96db;
}

.BlogItem {
  color: #7c7c7c;
  display: grid;
  grid-template-columns: 16px auto;
  grid-gap: 3px;
  grid-template-rows: 16px;
  align-items: center;
  color: "#A9A9A9";
  font-size: calc(3px + 1vmin);
}

.LEDControl {
  display: grid;
  grid-template-columns: 7% auto auto auto auto auto 7%;
  grid-template-rows: 40% 10vw auto auto;
}

.LED {
  grid-column: 1;
  width: 10vw;
  height: 10vw;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  line-height: 10vw;
  font-size: calc(14px + 1vmin);
  background-color: #1c96db;
  user-select: none;
}

.LEDContainer {
  display: grid;
  grid-template-columns: 10vw auto;
  height: 100%;
  width: 100%;
  grid-row: 2;
}

.ColorPickerShown {
  justify-self: center;
  align-self: center;
}

.ColorPickerHide {
  justify-self: center;
  align-self: center;
  opacity: 0%;
}

.ColorPickerContainer {
  height: 100%;
  width: 100%;
  grid-row: 3;
  display: flex;
}

.RightArrow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 2;
  margin: 0 auto;
  left: 20%;
  align-items: center;
  stroke-width: 0.5px;
}

.NavArrows {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 2;
}

.NavArrowRight {
  height: 100%;
  left: 50%;
  margin: 0 auto;
  position: relative;
}

.NavArrowLeft {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.LEDNavbar {
  height: 100%;
  width: 100%;
  grid-row: 2;
  display: grid;
  grid-template-columns: 7% auto auto auto auto auto 7%;
}

.Submit {
  grid-column: 7;
  grid-row: 1;
  display: grid;
  height: 50%;
  width: 100%;
  grid-template-rows: auto auto;
}

.SubmitButton {
  background: #fabf40;
  border: 100% solid #fabf40;
  border-radius: 8%;
  color: white;
  outline: none;
  padding: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75vw;
}

.ChangeAll {
  display: grid;
  height: 100%;
  width: 200%;
  grid-column: 1;
  grid-row: 1;
  grid-template-rows: auto auto;
}
